/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #00183F;
  --bg-image: url(../images/cover-image-dark.png);
  --section-title-color: #FF0070;
  --text-accent-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-color: #DB00FF;
  --header-shadow: #FF0070;
  --header-shadow-small-screens: #FF0070;
  --menu-color: #FF0070;
  --menu-hover: rgba(255, 0, 112, 0.40);
  --link-shadow: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #00183F;
    --bg-image: url(../images/cover-image-dark.png);
    --section-title-color: #FF0070;
    --text-accent-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --header-color: #DB00FF;
    --header-shadow: #FF0070;
    --header-shadow-small-screens: #FF0070;
    --menu-color: #FF0070;
    --menu-hover: rgba(255, 0, 112, 0.40);
    --link-shadow: #FF0070;
  }
}