/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-font: 'IBM Plex Mono', monospace;
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-color: #FFC2E6;
  --header-shadow: #FF0070;
  --header-shadow-small-screens: #FF8DCB;
  --menu-color: #353430;
  --menu-hover: rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex Mono', monospace;
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --header-color: #FFC2E6;
    --header-shadow: #FF0070;
    --header-shadow-small-screens: #FF8DCB;
    --menu-color: #353430;
    --menu-hover: rgba(50, 49, 45, 0.40);
  }
}